<a href="https://colab.research.google.com/github/coldsober-irene/NLP-fellowship/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
from keras.models import Sequential
from keras.layers import Dense
# run plots in here without opening new window
%matplotlib inline

In [ ]:
# mount
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = ["/content/drive/MyDrive/NLP fellowship/self study/vgsales.csv", 
           "/content/drive/MyDrive/NLP fellowship/self study/music.csv"]

In [ ]:
# see the datasets
df = pd.read_csv(dataset[1])

In [ ]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
# describe
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [ ]:
# check the data in a way similar to the csv
df.values

In [ ]:
# check rows and columns (first rows and the second is the column)
df.shape

(18, 3)

In [ ]:
import pickle

class me:
  def __init__(self, name, age, weight):
    self.name = name
    self.age = age
    self.weight = weight
  
  def display(self):
    print(self.name)
    print(self.age)
    print(self.weight)

# ob = me("irene", 25, 65)
# with open('irene.pickle', 'wb') as f:
#   pickle.dump(ob, f)

# read the object
with open('irene.pickle', 'rb') as f:
  my_obj = pickle.load(f)
my_obj.display()

**date 21st Jan 2022: self learning neural networking session**

In [ ]:
# try to open some csv data
path = ""

In [ ]:
# draft
link = "https://towardsdatascience.com/introduction-to-math-behind-neural-networks-e8b60dbbdeba"
from bs4 import BeautifulSoup as bs
import requests

full_text = "\n".join([p.getText() for p in bs(requests.get(link).content, "html.parser").find_all('p')][3:-29])
print(full_text)

Today, with open source machine learning software libraries such as TensorFlow, Keras, or PyTorch we can create a neural network, even with high structural complexity, with just a few lines of code. Having said that, the mathematics behind neural networks is still a mystery to some of us, and having the mathematics knowledge behind neural networks and deep learning can help us understand what’s happening inside a neural network. It is also helpful in architecture selection, fine-tuning of deep learning models, hyperparameters tuning, and optimization.
I had ignored understanding the mathematics behind neural networks and deep learning for a long time as I didn’t have good knowledge of algebra or differential calculus. A few days ago, I decided to start from scratch and derive the methodology and mathematics behind neural networks and deep learning, to know how and why they work. I also decided to write this article, which would be useful to people like me, who find it difficult to understand these concepts.
Perceptrons — invented by Frank Rosenblatt in 1958, are the simplest neural network that consists of n number of inputs, only one neuron, and one output, where n is the number of features of our dataset. The process of passing the data through the neural network is known as forward propagation and the forward propagation carried out in a perceptron is explained in the following three steps.
Step 1: For each input, multiply the input value xᵢ with weights wᵢ and sum all the multiplied values. Weights — represent the strength of the connection between neurons and decides how much influence the given input will have on the neuron’s output. If the weight w₁ has a higher value than the weight w₂, then the input x₁ will have a higher influence on the output than w₂.
The row vectors of the inputs and weights are x = [x₁, x₂, … , xₙ] and w =[w₁, w₂, … , wₙ] respectively and their dot product is given by
Hence, the summation is equal to the dot product of the vectors x and w
Step 2: Add bias b to the summation of multiplied values and let’s call this z. Bias — also known as the offset is necessary in most of the cases, to move the entire activation function to the left or right to generate the required output values.
Step 3: Pass the value of z to a non-linear activation function. Activation functions — are used to introduce non-linearity into the output of the neurons, without which the neural network will just be a linear function. Moreover, they have a significant impact on the learning speed of the neural network. Perceptrons have binary step function as their activation function. However, we shall use sigmoid — also known as logistic function as our activation function.
where σ denotes the sigmoid activation function and the output we get after the forward prorogation is known as the predicted value ŷ.
The learning algorithm consists of two parts — backpropagation and optimization.
Backpropagation: Backpropagation, short for backward propagation of errors, refers to the algorithm for computing the gradient of the loss function with respect to the weights. However, the term is often used to refer to the entire learning algorithm. The backpropagation carried out in a perceptron is explained in the following two steps.
Step 1: To know an estimation of how far are we from our desired solution a loss function is used. Generally, mean squared error is chosen as the loss function for regression problems and cross entropy for classification problems. Let’s take a regression problem and its loss function be mean squared error, which squares the difference between actual (yᵢ) and predicted value ( ŷᵢ ).
Loss function is calculated for the entire training dataset and their average is called the Cost function C.
Step 2: In order to find the best weights and bias for our Perceptron, we need to know how the cost function changes in relation to weights and bias. This is done with the help of the gradients (rate of change) — how one quantity changes in relation to another quantity. In our case, we need to find the gradient of the cost function with respect to the weights and bias.
Let’s calculate the gradient of cost function C with respect to the weight wᵢ using partial derivation. Since the cost function is not directly related to the weight wᵢ, let’s use the chain rule.
Now we need to find the following three gradients
Let’s start with the gradient of the cost function (C) with respect to the predicted value ( ŷ )
Let y = [y₁ , y₂ , … yₙ] and ŷ =[ ŷ₁ , ŷ₂ , … ŷₙ] be the row vectors of actual and predicted values. Hence the above equation is simplified as
Now let’s find the gradient of the predicted value with respect to the z. This will be a bit lengthy.
The gradient of z with respect to the weight wᵢ is
Therefore we get,
What about Bias? — Bias is theoretically considered to have an input of constant value 1. Hence,
Optimization: Optimization is the selection of the best element from some set of available alternatives, which in our case, is the selection of best weights and bias of the perceptron. Let’s choose gradient descent as our optimization algorithm, which changes the weights and bias, proportional to the negative of the gradient of the cost function with respect to the corresponding weight or bias. Learning rate (α) is a hyperparameter which is used to control how much the weights and bias are changed.
The weights and bias are updated as follows and the backpropagation and gradient descent is repeated until convergence.
I hope that you’ve found this article useful and understood the mathematics behind the neural networks and deep learning. I have explained the working of a single neuron in this article. However, these basic concepts are applicable to all kinds of neural networks with some modifications.

In [ ]:
# load the data to be used

In [ ]:
# use logistic regression to get pred-machine learning usage

In [ ]:
# generate random weights and bias

In [ ]:
# compute for consecutive weights and bias

In [ ]:
# create a model

In [ ]:
# train the model

In [ ]:
# display the output

**IN-CLass work **

In [ ]:
data_link = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
# download the data
data_downloaded = pd.read_csv(data_link)

In [ ]:
data_downloaded

In [ ]:
train_data = np.array(data_downloaded.iloc[:,0:8].astype('int')) # get all 8 coumns as train data
test_data = np.array(data_downloaded.iloc[:,8].astype('int')) # get the last column as test data

In [ ]:
# define the model
model = Sequential()

In [ ]:
# add alayer on your defined model
# 12 is the number of nodes, input_shape: the shape of your input data, activation = "relu"

# INPUT LAYER 
model.add(Dense(12, activation = 'relu', input_shape = (8,)))
# 3 HIDDEN LAYERS
model.add(Dense(8, activation = 'relu'))
model.add(Dense(6, activation = 'relu'))
model.add(Dense(6, activation = 'relu'))
model.add(Dense(4, activation = 'relu'))
model.add(Dense(2, activation = 'relu'))
# OUTPUT LAYER
model.add(Dense(1, activation = "sigmoid"))

In [ ]:
# COMPUTE THE LOSSES AND OPTIMIZE THOSE LOSSES
model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ['accuracy'])

In [ ]:
# TRAIN THE MODEL
# epochs: specifies how many times the model is going to learn the data
# batch_size: number of rows the model is going to grab at once as it is sequential model
"""
once the model ends with grabbing all the batch size for the entire dataset to train, then we count one epoch
"""
model.fit(train_data, test_data, epochs = 1000, batch_size = 20)

In [ ]:
# check out the accuracy of your model
_, accuracy = model.evaluate(train_data, test_data)

#one-hot encoding example

In [1]:
text = """my name is irene nsengumukiza and this is the sentence for making the sample of the one hot encoding example"""
words = text.split(" ")
vocab = set()
for word in words:
  if word not in vocab:
    vocab.add(word)

In [19]:
word_index = {}
index_word = {}
for index, word in enumerate(words):
  word_index[word] = index
  index_word[index] = word

In [30]:
import numpy as np
import pandas as pd
one_hot = np.zeros(shape=(len(vocab),len(words)), dtype = np.int64)

In [ ]:
one_hot

In [32]:
index = 0
for word in word_index.items():
  one_hot[index][word[1]] = 1
  index += 1

In [ ]:
one_hot

In [34]:
df = pd.DataFrame(one_hot)

In [36]:
df.head(len(words))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

#word2vec : word embedding

In [47]:
sentences = """The future king is the prince
Daughter is the princess
Son is the prince
Only a man can be a king
Only a woman can be a queen
The princess will be a queen
Queen and king rule the realm
The prince is a strong man
The princess is a beautiful woman
The royal family is the king and queen and their children
Prince is only a boy now
A boy will be a man""".split('\n')

In [48]:
sentences

['The future king is the prince',
 'Daughter is the princess',
 'Son is the prince',
 'Only a man can be a king',
 'Only a woman can be a queen',
 'The princess will be a queen',
 'Queen and king rule the realm',
 'The prince is a strong man',
 'The princess is a beautiful woman',
 'The royal family is the king and queen and their children',
 'Prince is only a boy now',
 'A boy will be a man']

In [54]:
# take the window size of 2
w = 2

combination = [[] for i in range(len(sentences))]
count = 0
for sentence in sentences:
  sentence = sentence.split(' ')
  for index, word in enumerate(sentence):
    try:
      combination[count].append((word, sentence[index-1], sentence[index+1]))
    except IndexError:
      try:
        combination[count].append((word, sentence[index+1], sentence[index+2]))
      except IndexError:
        try:
          combination[count].append((word, sentence[index-1], sentence[index-2]))
        except Exception as e:
          print(f"[ERROR] : [{e}]")
  count += 1

In [55]:
combination

[[('The', 'prince', 'future'),
  ('future', 'The', 'king'),
  ('king', 'future', 'is'),
  ('is', 'king', 'the'),
  ('the', 'is', 'prince'),
  ('prince', 'the', 'is')],
 [('Daughter', 'princess', 'is'),
  ('is', 'Daughter', 'the'),
  ('the', 'is', 'princess'),
  ('princess', 'the', 'is')],
 [('Son', 'prince', 'is'),
  ('is', 'Son', 'the'),
  ('the', 'is', 'prince'),
  ('prince', 'the', 'is')],
 [('Only', 'king', 'a'),
  ('a', 'Only', 'man'),
  ('man', 'a', 'can'),
  ('can', 'man', 'be'),
  ('be', 'can', 'a'),
  ('a', 'be', 'king'),
  ('king', 'a', 'be')],
 [('Only', 'queen', 'a'),
  ('a', 'Only', 'woman'),
  ('woman', 'a', 'can'),
  ('can', 'woman', 'be'),
  ('be', 'can', 'a'),
  ('a', 'be', 'queen'),
  ('queen', 'a', 'be')],
 [('The', 'queen', 'princess'),
  ('princess', 'The', 'will'),
  ('will', 'princess', 'be'),
  ('be', 'will', 'a'),
  ('a', 'be', 'queen'),
  ('queen', 'a', 'be')],
 [('Queen', 'realm', 'and'),
  ('and', 'Queen', 'king'),
  ('king', 'and', 'rule'),
  ('rule', 'king', 'the'),
  ('the', 'rule', 'realm'),
  ('realm', 'the', 'rule')],
 [('The', 'man', 'prince'),
  ('prince', 'The', 'is'),
  ('is', 'prince', 'a'),
  ('a', 'is', 'strong'),
  ('strong', 'a', 'man'),
  ('man', 'strong', 'a')],
 [('The', 'woman', 'princess'),
  ('princess', 'The', 'is'),
  ('is', 'princess', 'a'),
  ('a', 'is', 'beautiful'),
  ('beautiful', 'a', 'woman'),
  ('woman', 'beautiful', 'a')],
 [('The', 'children', 'royal'),
  ('royal', 'The', 'family'),
  ('family', 'royal', 'is'),
  ('is', 'family', 'the'),
  ('the', 'is', 'king'),
  ('king', 'the', 'and'),
  ('and', 'king', 'queen'),
  ('queen', 'and', 'and'),
  ('and', 'queen', 'their'),
  ('their', 'and', 'children'),
  ('children', 'their', 'and')],
 [('Prince', 'now', 'is'),
  ('is', 'Prince', 'only'),
  ('only', 'is', 'a'),
  ('a', 'only', 'boy'),
  ('boy', 'a', 'now'),
  ('now', 'boy', 'a')],
 [('A', 'man', 'boy'),
  ('boy', 'A', 'will'),
  ('will', 'boy', 'be'),
  ('be', 'will', 'a'),
  ('a', 'be', 'man'),
  ('man', 'a', 'be')]]

In [50]:
for index, word in enumerate("this is irene.".split(" ")):
  print(index, word)

0 this
1 is
2 irene.

In [ ]:
combination

#translator for my personal usage

In [ ]:
!pip install -U easynmt

In [7]:
from easynmt import EasyNMT

In [8]:
def tell_me(input, source, target):
  model = EasyNMT('opus-mt')
  return model.translate(input, source_lang = source, target_lang = target)

In [16]:
ans = tell_me(input = "pole sana kabisa", source = "rw", target = 'en')

In [17]:
ans

'The C_ombering of the Retributed'