<a href="https://colab.research.google.com/github/coldsober-irene/NLP-fellowship/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
from google.colab import drive
# run plots in here without opening new window
%matplotlib inline

In [ ]:
# mount
drive.mount('/content/drive')

In [22]:
dataset = ["/content/drive/MyDrive/NLP fellowship/self study/vgsales.csv", 
           "/content/drive/MyDrive/NLP fellowship/self study/music.csv"]

In [23]:
# see the datasets
df = pd.read_csv(dataset[1])

In [24]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [25]:
# describe
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [ ]:
# check the data in a way similar to the csv
df.values

In [27]:
# check rows and columns (first rows and the second is the column)
df.shape

(18, 3)

In [31]:
import pickle

class me:
  def __init__(self, name, age, weight):
    self.name = name
    self.age = age
    self.weight = weight
  
  def display(self):
    print(self.name)
    print(self.age)
    print(self.weight)

# ob = me("irene", 25, 65)
# with open('irene.pickle', 'wb') as f:
#   pickle.dump(ob, f)

# read the object
with open('irene.pickle', 'rb') as f:
  my_obj = pickle.load(f)
my_obj.display()

irene
25
65